
.field {
    display: flex;
    flex-direction: column;
}

.field label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.field input,
.field textarea,
.field select {
    
    border: none;
    box-shadow: 3px 3px 0px #FA680F;
    border-radius: 10px;
    background: #fdf6e3;
    padding: 8px 0px 8px 10px;
    outline: none;
    text-align: center;
}

.field select {
    color: #FA240F;
}

.field select option {
    background-color: #fdf6e3;
    color: #FA240F;
}

.field select:focus {
    outline: none;
    border-color: #FA680F;
    box-shadow: 0 0 5px rgba(91, 157, 217, 0.7);
}