.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7E1;
}

.content {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background-color: #FDF1CF;
    padding: 2em;
}

.content h3 {
    color: #FA240F;
    margin: 10px;
    text-align: center;
}

.painelLanchonete {
    display: flex;
    padding: 1em;
    border: 1px solid #ddd;
    background-color: #FFF7E1;
    margin-bottom: 1em;
    text-align: center;
    border-radius: 4px;
}

.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.info {
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h1 {
    font-size: 25px;
    margin-bottom: 0.5em;
}

.textDescription {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.singleInfo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 12px;
}

.divIcon {
    color: #FA240F;
    font-size: 1.5em;
}

.icon {
    margin-right: 0.5em;
}

.divIcon a {
    color: #FA240F;
    text-decoration: none;
}

.divIcon a:hover {
    text-decoration: underline;
}

.menuOpcoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.menuOpcoes select {
    border: none;
    border: 1px solid #ddd;
    background-color: #FFF7E1;
    padding: 8px;
    outline: none;
    text-align: center;
    width: 100%;
}

.menuOpcoes select {
    color: #FA240F;
}

.menuOpcoes select option {
    background-color: #fdf6e3;
    color: #FA240F;
}

.menuOpcoes select:focus {
    outline: none;
    border-color: #FA680F;
    box-shadow: 0 0 5px rgba(91, 157, 217, 0.7);
}

.lanchesContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1em;
}

@media(max-width: 900px) {
    .lanchesContainer {
        grid-template-columns: repeat(4, 1fr);

    }
}

@media(max-width: 750px) {
    .lanchesContainer {
        grid-template-columns: repeat(3, 1fr);

    }
}

@media(max-width: 600px) {
    .lanchesContainer {
        grid-template-columns: repeat(2, 1fr);

    }
}

@media (max-width: 800px) {
    .painelLanchonete {
        flex-direction: column;
    }
    .image, .info {
        width: 100%;
    }
    .linksContainer {
        flex-direction: column;
    }
}