.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7E1;
}

.content {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    background-color: #FDF1CF;
    padding: 2em;
    border-radius: 8px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content h1 {
    font-size: 25px;
    margin-bottom: 0.5em;
    color: #333;
    text-align: center;
}

.content h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #555;
    text-align: center;
}

.cesto {
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.emptyCesto {
    text-align: center;
    padding: 2em;
}

.emptyCesto p {
    font-size: 1.5em;
    color: #555;
    margin-bottom: 1em;
}


.content ul {
    list-style-type: none;
}

.lancheItem {
    display: flex;
    align-items: center;
    padding: 1em;
    transition: transform 0.2s ease;
    position: relative;
    border-bottom: 1px solid #ddd;
}

.lancheItem:last-child {
    border: none;
}


.lancheImagem {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 1em;
    object-fit: cover;
}

.lancheItem .info {
    width: 100%;
}

.lancheItem h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #333;
}

.lancheItem p {
    margin: 0.2em 0;
    font-size: 1.2em;
    color: #777;
}

.lancheItemActions {
    position: absolute;
    top: 5px;
    right: 5px;
    bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.lancheItemActions button {
    border: none;
    font-size: 20px;
    cursor: pointer;
    color: #FFF;
    padding: 8px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.lancheItemActions button p {
    color: #FFF;
    font-size: 15px;
}

.removeButton {
    background: #FA240F;
}

.editButton {
    background-color: grey;
}

.actions {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.actionButton {
    padding: 0.75em;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    text-align: center;
}

/* Cor para "Adicionar mais itens" */
.addMoreItems {
    background-color: #007BFF;
    /* Verde */
}

.addMoreItems:hover {
    background-color: #0056b3;
}

/* Cor para "Cancelar pedido" */
.cancelOrder {
    background-color: #DC3545;
    /* Vermelho */
}

.cancelOrder:hover {
    background-color: #C82333;
}

/* Cor para "Confirmar pedido" */
.confirmOrder {
    background-color: #28A745;
    /* Azul */
}

.confirmOrder:hover {
    background-color: #218838;
}


.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.modal {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.modalActions {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.confirmButton,
.cancelButton {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirmButton {
    background-color: #FA240F;
    color: white;
}

.cancelButton {
    background-color: #ddd;
    color: #333;
}



@media (max-width: 600px) {
    .content {
        padding: 1em;
    }

    .lancheItem h3 {
        font-size: 1.2em;
    }

    .lancheItem p {
        font-size: 1em;
    }

    .actions {
        flex-direction: column;
        gap: 16px;
    }

    .lancheItemActions button p {
        display: none;
    }
}