.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7E1;
}

.content {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background-color: #FDF1CF;
    padding: 2em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content h1 {
    text-align: center;
}

.sortOptions {
    display: flex;
    align-items: center;
    margin-bottom: 0.5em;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sortOptions label {
    margin-right: 10px;
    font-size: 1.1em;
    color: #333;
}

.sortOptions select {
    padding: 0.5em 1em;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1em;
    background-color: #FFF7E1;
    color: #333;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    outline: none;
    font-family: inherit;
}



.usersList {
    background-color: #FFF;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.userProfile {
    display: flex;
    align-items: center;
    padding: 0.5em;
    transition: transform 0.2s ease;
    border: 1px solid transparent;
    border-bottom: 1px solid #ddd;
}
.userProfile:last-child {
    border-bottom: 1px solid transparent;
}

.userProfile:hover {
    border: 1px solid #FA240F;
}

.userImageContainer {
    margin-right: 2rem;
}

.userImage {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: rgba(0, 0, 0, 0.3);
    background-color: #F0F0F0;
}

.userInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.d1 {
    display: flex;
    width: 100%;
}

.d2 {
    width: 50%;
}

.userInfo h1 {
    text-align: start;
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #333;
}

.userInfo p {
    margin: 0.3rem 0;
    font-size: 1rem;
    color: #666;
}

.userInfo p strong {
    color: #333;
}

@media (max-width: 900px ) {
    .d1 {
        width: 100%;
        flex-direction: column;
    }
    
    .d2 {
        width: 100%;
    }
}

@media (max-width: 575px ) {
    .userProfile {
        flex-direction: column;
    }
    .userProfile h1 {
        text-align: center;
    }
    .userImageContainer {
        margin: 0;
    }
}