.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7E1;
}

.content {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background-color: #FDF1CF;
    padding: 2em;
}

.userProfile {
    display: flex;
    align-items: center;
    background-color: #FFF7E1;
    border-radius: 8px;
    padding: 1.5em;
    margin-bottom: 1.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    border: 1px solid #ddd;
}

.userProfile:hover {
    box-shadow: 3px 3px 2px #656053;
    border: 1px solid #FA240F;
}

.userImageContainer {
    margin-right: 2rem;
}

.userImage {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: rgba(0, 0, 0, 0.3);
    background-color: #F0F0F0;
}

.userInfo {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.d1 {
    display: flex;
    width: 100%;
}

.d2 {
    width: 50%;
}

.userInfo h1 {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    color: #333;
}

.userInfo p {
    margin: 0.3rem 0;
    font-size: 1rem;
    color: #666;
}

.userInfo p strong {
    color: #333;
}

@media (max-width: 900px ) {
    .d1 {
        width: 100%;
        flex-direction: column;
    }
    
    .d2 {
        width: 100%;
    }
}

@media (max-width: 575px ) {
    .userProfile {
        flex-direction: column;
    }
    .userProfile h1 {
        text-align: center;
    }
    .userImageContainer {
        margin: 0;
    }
}