/* CadastroLanchonete.module.css */
.CadastroLanchonetePage {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.container {
    width: 100%;
    max-width: 600px;
    height: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fdf1cf;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    color: #FA240F;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form > div {
    margin-bottom: 15px;
}

.container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333333;
}

.container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.container input:focus {
    border-color: #FA240F;
    outline: none;
}

.container p {
    color: #FA240F;
    font-size: 12px;
    margin-top: 5px;
}

.prev_next_buttons {
    display: flex;
    justify-content: space-between;
}

.prev_next_buttons div {
    display: flex;
}

.prev_next_buttons button {
    background-color: #fdf1cf;
    color: #FA240F;
    border: 2px solid #FA240F;
    border-radius: 4px;
    padding: 10px;
    font-weight: bold;
}

.prev_next_buttons button:hover {
    background-color: #FA240F;
    color: #ffffff;

}

.container button[type="submit"] {
    background-color: #FA240F;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container button[type="submit"]:hover {
    background-color: #e3200d;
    color: #ffffff;
}