/* CadastroLanchonete.module.css */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fdf1cf;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container h2 {
    text-align: center;
    color: #FA240F;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form > div {
    margin-bottom: 15px;
}

.container label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: #333333;
}

.container input {
    width: 100%;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
}

.container input:focus {
    border-color: #FA240F;
    outline: none;
}

.container p {
    color: #FA240F;
    font-size: 12px;
    margin-top: 5px;
}

.container button {
    background-color: #FA240F;
    color: #ffffff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.container button:hover {
    background-color: #e3200d;
}