@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

:root {
  --background: #FAF1C9;
  --foreground: #0a0a0a;
  --primary: #FF0000;
  --hoverprimary: #e60000;
  --secondary: #FF5800;
  --hoversecondary: #e14e00;
  --element-bg: #FFFFF0;
  --text: #FFFFF0;
  --hovertext: #FFD700;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FAF1C9;
    --foreground: #0a0a0a;
    --primary: #FF0000;
    --secondary: #FF5800;
    --element-bg: #FFFFF0;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

html,  body {
  font-family: 'Roboto Condensed', sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.shadow-primary {
  box-shadow: 2px 3px 0 0 var(--primary);
}

.shadow-secondary {
  box-shadow: 2px 3px 0 0 var(--secondary);
}
