.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7E1;
    min-height: 100vh;
}

.dashboard {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background-color: #FDF1CF;
    padding: 2em;
}

.title {
    color: #FA240F;
    font-size: 2rem;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    color: #333333;
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.activityList {
    list-style: none;
    padding: 0;
}

.activityList li {
    background-color: #f0f0f0;
    border-left: 4px solid #FA240F;
    margin-bottom: 5px;
    padding: 10px;
}

.viewAllButton {
    background-color: #FA240F;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
    margin: 16px auto;
    padding: 10px 20px;
}

.viewAllButton:hover {
    background-color: #c91e0d;
}

.stats {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.stat {
    border: 1px solid #ddd;
    background-color: #f0f0f0;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    width: 22%;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.stat:hover {
    box-shadow: 3px 3px 2px #656053;
    border: 1px solid #FA240F;
}

.statNumber {
    color: #FA240F;
    font-size: 1.5rem;
    font-weight: bold;
}

.statLabel {
    color: #333333;
    font-size: 1rem;
    margin-top: 5px;
}

.charts {
    display: flex;
    justify-content: space-between;
}

.chartPlaceholder {
    background-color: #f0f0f0;
    border: 1px dashed #FA240F;
    border-radius: 8px;
    height: 200px;
    text-align: center;
    width: 48%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FA240F;
}

@media (max-width: 750px) {

    .stats {
        justify-content: space-evenly;
    }
    
    .stat {
        width: 40%;
        margin: 10px 0;
    }
}

@media (max-width: 500px) {
    .stat {
        width: 100%;
    }
}