/* styles/Navbar.module.css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #FA680F, #FA240F);
    height: 80px;
    width: 100%;
    border-bottom: 3px solid #ffffff;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.navbar .list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.navbar .item {
    margin-right: 1em;
}

.navbar .item a,
.navbar .item button {
    text-decoration: none;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

.navbar .item button {
    color: #fff;
}

.navbar .item a:hover,
.navbar .item button:hover {
    color: #eeff00;
    text-decoration: underline;
    transform: scale(1.2);
}

.active a, .active p {
    color: #eeff00;
}

.noActive a, .noActive p {
    color: #fff;
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo h1 {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: #FAF0EC;
    margin-left: 10px;
}

.logo img {
    width: 60px;
    height: auto;
}

.userImage {
    border-radius: 50%;
    object-fit: cover;
}

.bottonNavbar {
    display: none;
}

@media (max-width: 500px) {
    .logo h1 {
        display: none;
    }
}

@media (min-width: 500px) {
    .logo img {
        display: none;
    }
}

@media (max-width: 575px) {
    .navbar .ocultar {
        display: none;
    }
    .navbar .item button {
        font-size: 35px;
    }
    .bottonNavbar {
        display: flex;
        background: linear-gradient(to right, #FA680F, #FA240F);
        height: 80px;
        width: 100%;
        position: fixed;
        bottom: 0;
    }
    
    .bottonNavbar .list {
        display: flex;
        list-style: none;
        align-items: center;
        margin: 0;
        padding: 0;
        width: 100%;
    }
    
    .bottonNavbar .item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        width: 25%;
        align-items: center;
        justify-content: center;
    }

    .bottonNavbar .item p {
        font-size: 12px;
        margin-bottom: 5px;
    }
    
    .bottonNavbar .item a {
        text-decoration: none;
        font-size: 30px;
        background: none;
        border: none;
        cursor: pointer;
        margin: auto;
        display: flex;
    }

    .active {
        border-bottom: 3px solid #eeff00;
    }

    .noActive {
        border-bottom: 3px solid transparent;
    }
    
    .bottonNavbar .item:hover a,
    .bottonNavbar .item:hover p {
        color: #eeff00;
    }
}
