/* styles/Navbar.module.css */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.navbar {
    display: flex;
    justify-content: space-between;
    background: linear-gradient(to right, #FA680F, #FA240F);
    padding: 1em;
    width: 100%;
    border-bottom: 3px solid #ffffff;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.list {
    display: flex;
    list-style: none;
    align-items: center;
    margin: 0;
    padding: 0;
}

.item {
    margin-right: 1em;
}

.item a,
.item button {
    color: #fff;
    text-decoration: none;
    font-size: 22px;
    background: none;
    border: none;
    cursor: pointer;
}

.item a:hover,
.item button:hover {
    color: #D8FFDB;
    text-decoration: underline;
    transform: scale(1.2);
}

.logo {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo h1 {
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    color: #FAF0EC;
    margin-left: 10px;
}

.logo img {
    width: 60px;
    height: auto;
}

@media (max-width: 500px) {
    .logo h1 {
        display: none;
    }
}

@media (min-width: 500px) {
    .logo img {
        display: none;
    }
}
