.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7E1;
    height: 100%;
}

.content {
    width: 100%;
    max-width: 1200px;
    height: 100%;
    background-color: #FDF1CF;
    padding: 2em;
}

.painelLanchonete {
    display: flex;
    padding: 1em;
    border: 1px solid #ddd;
    background-color: #FFF7E1;
    margin-bottom: 2em;
    text-align: center;
    border-radius: 4px;
}

.image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}

.info {
    width: 50%;
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info h1 {
    font-size: 25px;
    margin-bottom: 0.5em;
}

.textDescription {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.singleInfo {
    display: flex;
    align-items: center;
    gap: 0.5em;
    font-size: 12px;
}

.divIcon {
    color: #FA240F;
    font-size: 1.5em;
}

.icon {
    margin-right: 0.5em;
}

.divIcon a {
    color: #FA240F;
    text-decoration: none;
}

.divIcon a:hover {
    text-decoration: underline;
}

.linksContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1em;
}

.linkButton {
    display: flex;
    align-items: center;
    gap: 0.5em;
    padding: 0.5em 1em;
    background-color: #FFF7E1;
    color: #FA240F;
    border: 1px solid #ddd;
    border-radius: 4px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.linkButton:hover {
    box-shadow: 3px 3px 2px #656053;
    border: 1px solid #FA240F;
}

@media (max-width: 800px) {
    .painelLanchonete {
        flex-direction: column;
    }
    .image, .info {
        width: 100%;
    }
    .linksContainer {
        flex-direction: column;
    }
}