/* styles/solicitacao.module.css */
.container {
    background-color: #f8f8f8;
    min-height: 100vh;
}

.content {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

.title {
    color: #FA240F;
    font-size: 2rem;
    margin-bottom: 20px;
}

.actions {
    margin-top: 20px;
}

.actions button {
    border: none;
    color: #ffffff;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-right: 10px;
}

.aprovarButton {
    background-color: #28a745; /* Tom de verde */
}

.aprovarButton:hover {
    background-color: #218838; /* Tom de verde mais escuro */
}

.desaprovarButton {
    background-color: #FA240F; /* Tom de vermelho */
}

.desaprovarButton:hover {
    background-color: #d91e0d; /* Tom de vermelho mais escuro */
}
